@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-neutral-600 bg-neutral-50 antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-neutral-900;
  }
}
